<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ejemplo mapas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7A4E1F91CA914AC00D2D8E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A4E2101CA914AD00D2D8E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7A4E21B1CA914AD00D2D8E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
